@import "../../styles/variables.scss";

.root {
	margin-bottom: 16px;

	#{$dark-theme} & {
		background-color: $dark_block-color;
	}

	.image {
		height: 0;
		padding-top: 40%;
		border-radius: 8px;
		margin-bottom: 12px;
	}
	.content {
		padding: 16px;
	}
	.text {
		font-size: 1em;
		font-weight: 400;
		color: $light_regular-text-color;
		line-height: 1.6em;
		letter-spacing: 0.01em;
		transition: $transition;

		#{$dark-theme} & {
			color: $dark_regular-text-color;
		}
	}
	.actions {
		justify-content: flex-end;
		padding-top: 0;
	}
}
