@import "../../../styles/variables.scss";

.info {
	display: flex;

	& > * {
		color: $accent-color !important;
	}

	.icon {
		margin-right: 8px;
		flex: none;
		width: 24px;
		height: 24px;
	}
}

.userpic {
	width: 100%;
}
