@import "../../../styles/variables.scss";

.info {
	display: flex;

	& > * {
		color: $accent-color !important;
	}

	.icon {
		margin-right: 8px;
		flex: none;
		width: 24px;
		height: 24px;
	}
}

.userpic {
	width: 100%;
	border-radius: 8px;
}

.achievements {
	display: flex;
	overflow: auto;
	flex-wrap: nowrap;
	height: 110px;

	& > * {
		flex: none;
		margin-right: 20px;
	}
}
