@import "styles/variables.scss";

.logo {
	width: 70px;
	height: 70px;
	flex: none;
}

.root {
	background-color: $light_block-color;
	box-shadow: 0 0 0 1px $light_dark-faded-color;
	#{$dark-theme} & {
		background-color: $dark_block-color;
		box-shadow: 0 0 0 1px $dark_light-faded-color;
	}

	&:before {
		background-color: rgba(0, 0, 0, 0.01);
		#{$dark-theme} & {
			background-color: rgba(255, 255, 255, 0.06);
		}
	}
	.summary {
		.title {
			color: $light_main-color;
			#{$dark-theme} & {
				color: $dark_regular-text-color;
			}
		}

		.index {
			color: $light_placeholder-color;
			margin-right: 8px;
			display: inline-block;
			#{$dark-theme} & {
				color: $dark_placeholder-color;
			}
		}
	}
	.details {
		.text {
			color: $light_regular-text-color;
			#{$dark-theme} & {
				color: $dark_placeholder-color;
			}

			.index {
				color: $light_placeholder-color;
				margin-right: 4px;
				display: inline-block;
				#{$dark-theme} & {
					color: $dark_placeholder-color;
				}
			}
		}
	}
	.expandIcon {
		color: $light_main-color;
		#{$dark-theme} & {
			color: $dark_regular-text-color;
		}
	}
}
