@import "../../styles/variables.scss";

.root {
	position: relative;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 12px 0;
	transition: $transition;
	&:hover {
		background-color: fade-out($accent-color, 0.94);
	}

	&.card {
		border-radius: 8px;
		padding: 8px 12px;
		background-color: fade-out($block-placeholder-color, 0.7);
	}

	.avatar {
		width: 40px;
		height: 40px;
		flex: none;
		margin-right: 10px;
		background-color: $block-placeholder-color;
	}

	.info {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
	}
}
