@import "../../styles/variables.scss";

.embla {
	position: relative;
	max-width: $max-width;
	width: 100%;
}

.embla__viewport {
	overflow: hidden;
	width: 100%;
}

.embla__viewport {
	cursor: move;
	cursor: grab;
}

.embla__viewport {
	cursor: grabbing;
}

.embla__container {
	display: flex;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.embla__slide {
	position: relative;
}

.embla__slide__inner {
	position: relative;
	overflow: hidden;
}

.embla__slide__img {
	position: relative;
	width: 250px;
	margin-right: 10px;
	border-radius: 22px;
	border: 1px solid $light_dark-faded-color;
	#{$dark-theme} & {
		border: 1px solid $dark_light-faded-color;
	}
}
