@import "../../styles/variables.scss";

.root {
	position: relative;

	.title {
		font-weight: 600;

		.index {
			background-color: $hover-color;
			color: white;
			padding: 1px 6px;
			margin-right: 6px;
			margin-bottom: 1px;
			border-radius: 99px;
			font-size: 0.8em;
			font-weight: 600;
			display: inline-block;
			vertical-align: text-bottom;
		}
	}
	.content {
		padding-top: 0;
		padding-bottom: 16px;

		.variant {
			position: relative;
			width: 100%;
			min-height: calc(1em + 24px);
			line-height: 1.2em;
			font-size: 1em;
			padding: 12px;
			border-radius: 10px;
			margin-bottom: 8px;
			font-weight: 400;
			cursor: pointer;
			display: inline-block;
			transition: $transition;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.actions {
		padding-top: 0;
		justify-content: flex-end;

		.button {
			&[disabled] {
				opacity: 0.4;
			}
		}

		.reportButton {
			margin-right: auto;
		}

		.icon {
			color: $hover-color;
		}
	}
}
